@media (max-width: 767px) {
    body {
        display: block;
    }
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    height: 225px;
    margin: 40px;
    padding: 0 0px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0.025);
    text-align: center;
    transition: height 1000ms;
    width: 260px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media (max-width: 767px) {
    .card {
        left: calc(50% - 20px);
        transform: translateX(-50%);
    }
}
.card.expanded {
    height: 260px;
}
.label {
    margin-top: 30px;
    transform: translateY(10px);
    transition: transform 1000ms;
}
.card.expanded .label {
    transform: translateY(0);
}
.text1 {
    clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
    -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
    transition: clip-path 1000ms;
}
.card.expanded .text1 {
    clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
    -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}
.text2 {
    clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
    -webkit-clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
    transition: clip-path 1000ms;
}
.card.expanded .text2 {
    clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
    -webkit-clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
}
.text-content {
    transform: translateY(-160px);
    transition: transform 1000ms;
}
.card.expanded .text-content {
    transform: translateY(-15px);
}
.chevron {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 15px);
    transform-origin: 50%;
    transform: rotate(180deg);
    transition: transform 1000ms;
}
.card.expanded .chevron {
    transform: rotate(0deg);
}
.title {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    margin: 20px 0 12px;
}
.body-text {
    padding: 0 20px;
}

.new {
    background: #42b983;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
}

.updated {
    background: #ea60a7;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
}

.soon {
    background: #0d9ddb;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
}

.navbar {
    background-color: #000000;
    height: 80px;
    float: left;
    text-align: right;
    padding: 30px;
    padding-left: 100px;
    color: #ffffff;
    width: 90%;
}

.navbar2 {
    background-color: #000000;
    float: left;
    padding: 30px;
    height: 80px;
    padding-right: 50px;
    width: 10%;
}

.badge {
    margin-left: 80px;
    font-size: 10px;
    font-size: .75rem;
    font-weight: 600;
    line-height: 14px;
    line-height: 1rem;
    letter-spacing: .3px;
    letter-spacing: .01875rem;
    text-align: center;
}

.badge-1 {
    margin-left: 50px;
    font-size: 10px;
    font-size: .75rem;
    font-weight: 600;
    line-height: 14px;
    line-height: 1rem;
    letter-spacing: .3px;
    letter-spacing: .01875rem;
    text-align: center;
}

.badge-2 {
    margin-left: 15px;
    font-size: 10px;
    font-size: .75rem;
    font-weight: 600;
    line-height: 14px;
    line-height: 1rem;
    letter-spacing: .3px;
    letter-spacing: .01875rem;
    text-align: center;
}